#MyCanvas1{
    border: 1px solid black;
    position: fixed;
    top: 4%;
    left: 35%;

}

.shapes{
    position: relative;
    top: 550px;
    left: 450px;
    float: left;
}

.colors
{
    position: relative;
    top: 530px;
    left: 500px;
}

#black{
    width: 15px;
    height: 15px;
    background-color: black;
    -webkit-appearance: none;
}

#red{
    width: 15px;
    height: 15px;
    background-color: red;
    -webkit-appearance: none;
}
#blue{
    width: 15px;
    height: 15px;
    background-color: blue;
    -webkit-appearance: none;
}

#green{
    width: 15px;
    height: 15px;
    background-color: green;
    -webkit-appearance: none;
}