#MyCanvas1{
    border: 1px solid black;
    position: relative;
    top: 30px;
    left: 700px;

}

.shapes{
    position: relative;
    top: 50px;
    left: 700px;
    float: left;
}

.colors
{
    position: relative;
    top: 29px;
    left: 730px;
}

#black{
    width: 15px;
    height: 15px;
    background-color: black;
    -webkit-appearance: none;
}

#red{
    width: 15px;
    height: 15px;
    background-color: red;
    -webkit-appearance: none;
}
#blue{
    width: 15px;
    height: 15px;
    background-color: blue;
    -webkit-appearance: none;
}

#green{
    width: 15px;
    height: 15px;
    background-color: green;
    -webkit-appearance: none;
}